.header{
    .logo{
        background-color: red;
    }

    .navigation{
        .home{
            color: blue;
        }
        .about{
            color: gold;
        }
        .contact{
            color: aqua;
        }
    }
}